$div-color: rgba(80, 145, 156, 0.185);
$background-color: rgb(59, 59, 59);
*{
    // box-sizing: border-box;
    // border: 1px solid black;
}
html{
    background: $background-color;
}
body{ 
    font-family: 'Courier New', Courier, monospace;
    max-width: 1822px;
    max-height: 1003.3px;
    height: 100vh;
    margin: 0 auto;
}
#app{
    display: flex;
    flex-direction: row;
    margin: 0;
}

div{
    box-sizing: border-box;
}


#header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background-color;
    color: white;
    h1{
        padding-top: 10px;
    }
}

#ground{
    background-color: green;
    height: 100px;
    width: 100%;
    background: url(./img/grass.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#view{
    background: linear-gradient(to bottom, rgb(0, 255, 255),
    rgb(0, 191, 197) 50%, 
    rgb(238, 238, 238) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.panel-div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgba(211, 211, 211, 0.315);
    background-color: $div-color;
    color: white;
    flex-grow: 1;
    margin: 10px;
    border-radius: 3px;
    input{
        width: 20%;
        height: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 3px;
        margin: 5px 0;
        &:focus{
            outline: none;
        }
    }
    input[type="radio"]{
        margin-left: 10px;
    }
    p{
        margin: 0;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 18px;
    }
}

.middle{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0;
    div{
        flex-grow: 1;
    }
    .tabs-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        &>div{
            margin: 10px;
        }
        &>div:first-of-type{
            margin-left: 0;
        }
        &>div:last-of-type{
            margin-right: 0;
        }
    }
}

.object-panel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &>div{}
    div:last-of-type{
        div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    div:first-of-type{
        flex-grow: unset;
        height: 46.72px;
    }
}

.settings{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &>div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #gravity-select{
            display: flex;
            flex-wrap: wrap;
            p{
                width: 100%
            }
            div{
                margin: 3px;
            }
        }
    }
    &>div:first-of-type{
        flex-grow: unset;
        height: 46.72px;
    }
    #timescale-slider{
        width: 100%;
    }
    #forces{
        display: flex;
        justify-content: space-between;
        input{
            display: block;
        }
    }
}


